html {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section {
  display: flex;
  align-items: flex-start;
}

.container {
  width: 100%;
  background: #f9f7f1;
  height: 100vh;
}
.regionLeft {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}
.regionRight {
  position: relative;
  height: 100%;
  float: left;
  overflow-y: auto;
  border-left: 1px solid #2f2f2f;
  width: calc(80% - 1px);
}

.regionRight article {
  margin-left: 10px;
}

.post {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
